@charset "UTF-8";
@keyframes header-anim {
  from {
    transform: translateY(-25rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes card-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.header__image {
  background: linear-gradient(rgba(79, 75, 75, 0.4), rgba(79, 75, 75, 0.4)), url("/images/главная/фон.jpg") center/cover no-repeat;
  min-height: 90vh;
  padding-top: 23.6rem;
  box-shadow: 0 0.7rem 3.5rem #4F4B4B;
}

.selection {
  padding: 7rem 0;
}
.selection .heading-2 {
  max-width: 100rem;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 auto 6.5rem auto;
  line-height: 3.7rem;
}
.selection__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100rem;
  margin: 0 auto;
}
.selection__card {
  padding: 3rem 5rem;
  animation: card-anim 6s ease-in-out infinite;
  text-align: center;
  border-radius: 3rem;
}
.selection__card img {
  max-width: 25rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
}
.selection__card .btn {
  display: block;
  padding: 1rem 4rem;
  background-color: #454545;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 3rem;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem 0.5rem #000;
  font-weight: 700;
  transition: 0.5s;
}
.selection__card .btn:hover {
  background-color: #000;
  transform: translateY(0.6rem);
}

.clients {
  padding-top: 6rem;
  padding-bottom: 7rem;
}
.clients_heading {
  margin: 0 auto 5rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.clients__box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(10rem, 28rem));
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.clients-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.clients_card {
  text-align: center;
  padding: 4rem 1.5rem 4rem 1.5rem;
  font-size: 1.6rem;
  background-color: #F4F4F4;
  box-shadow: 0.1rem 0.1rem 1.5rem #9e9e9e;
  letter-spacing: 0.2rem;
  transition: 1s;
  position: relative;
}
.clients_card img {
  max-width: 10.8rem;
  margin-bottom: 2.3rem;
  border-radius: 50%;
}
.clients_card:hover {
  transform: scale(1.1);
}
.clients_card-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 3rem !important;
}

.category_female .box_wrapper-pants {
  background: url("../../images/категории женское/брюки.jpg") center/cover no-repeat;
}
.category_female .box_wrapper-tshirts {
  background: url("../../images/категории женское/футболки.jpg") center/cover no-repeat;
}
.category_female .box_wrapper-sweatshirt {
  background: url("../../images/категории женское/толстовки.jpg") center/cover no-repeat;
}
.category_female .box_wrapper-shoes {
  background: url("../../images/категории женское/обувь.jpg") center/cover no-repeat;
}

.category_male .box_wrapper-pants {
  background: url("../../images/категории мужское/брюки.jpg") center/cover no-repeat;
}
.category_male .box_wrapper-tshirts {
  background: url("../../images/категории мужское/футболки.jpg") center/cover no-repeat;
}
.category_male .box_wrapper-sweatshirt {
  background: url("../../images/категории мужское/толстовки.jpg") center/cover no-repeat;
}
.category_male .box_wrapper-shoes {
  background: url("../../images/категории мужское/обувь.jpg") center/cover no-repeat;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #4F4B4B;
}

.container {
  max-width: 130rem;
  padding: 0 8.5rem;
  margin: 0 auto;
}

.background-gray {
  background-color: rgb(244, 243, 243);
}

.hidden {
  display: none;
}

.reservation-btn {
  display: block;
  max-width: 35%;
  padding: 1.5rem 2rem;
  border-radius: 2.5rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  background: rgb(25, 10, 62);
  background: rgb(60, 3, 75);
  background: linear-gradient(0deg, rgba(25, 10, 62, 0.9) 0%, rgba(60, 3, 75, 0.9) 100%);
  transition: transform 0.6s;
}
.reservation-btn:hover {
  transform: scale(1.03);
}

.heading-1 {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 3rem;
  line-height: 3.8rem;
  color: #fff;
  text-align: center;
  text-shadow: 1rem 10rem 10rem #4F4B4B;
  animation: header-anim 1s ease-out;
}

.heading-3 {
  margin-bottom: 3rem;
  color: #fff;
  font-size: 3.8rem;
  text-align: center;
}

.logo {
  display: flex;
  padding: 2.5rem 0;
  align-items: center;
  justify-content: center;
}
.logo-img {
  display: block;
  margin-right: 2rem;
}
.logo a {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: #454545;
}

.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__wrapper .header__link {
  font-size: 1.8rem;
  color: #4F4B4B;
  transition: 0.3s;
}
.logo__wrapper .header__link:hover {
  text-shadow: 0.3rem 0.3rem 1rem #999999;
}

.selection__box_wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  justify-content: center;
}
.selection__box_wrapper a {
  display: block;
  padding-top: 115%;
  border-radius: 1rem;
  position: relative;
  transition: all 0.5s;
  box-shadow: 0.2rem 0.2rem 3rem rgb(141, 136, 136), -0.2rem -0.2rem 3rem rgb(141, 136, 136);
}
.selection__box_wrapper a:hover {
  transform: scale(1.05);
}
.selection__box_wrapper a p {
  color: white;
  font-size: 4.2rem;
  text-align: center;
  margin-top: -70%;
  text-shadow: 0.2rem 0.2rem 2rem black, -0.2rem -0.2rem 2rem black, 0rem 0rem 2rem black;
}

.section_selectionCategory {
  padding: 2rem 8rem 11rem;
}
.section_selectionCategory .selectionCategory_links {
  text-align: center;
  margin-bottom: 3rem;
}
.section_selectionCategory .selectionCategory_links a:first-child {
  color: #999999;
  font-size: 2.5rem;
}
.section_selectionCategory .selectionCategory_links a:last-child {
  display: inline-block;
  margin-top: 1rem;
  color: rgb(221, 10, 10);
  font-size: 3rem;
}

.section_topItems {
  padding: 5rem;
  background-color: #999999;
}

.footer {
  padding: 7rem 0 5rem 0;
}
.footer .footer_nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  color: #999999;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer_nav .footer_nav_item {
  margin-bottom: 3rem;
}
.footer .footer_nav .footer_nav_item span {
  display: block;
  margin-bottom: 1.5rem;
}
.footer .footer_nav .footer_nav_item li {
  margin-bottom: 1rem;
}
.footer .footer_nav .footer_nav_item li:hover {
  text-shadow: 0.5rem 0.5rem 1rem #999999;
}
.footer .footer_nav ul {
  color: #4F4B4B;
  font-size: 1.6rem;
}
.footer .footer_nav a {
  transition: 0.3s;
  color: #4F4B4B;
}

.section_catalog {
  padding: 4rem 0;
}
.section_catalog .category_description {
  margin-bottom: 4rem;
}
.section_catalog .category_description .heading-categoryType {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.section_catalog .category_description ul {
  max-width: 70%;
  margin: 0 auto;
  width: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.section_catalog .category_description ul a {
  color: #999999;
}
.section_catalog .category_description ul a:hover {
  text-decoration: underline;
}

.catalog_container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, minmax(10.5rem, 1fr));
  grid-template-rows: minmax(50px, 1fr);
  row-gap: 4.5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.catalog_container .card {
  font-size: 1.6rem;
}
.catalog_container .card img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 3rem rgb(147, 144, 144);
  transition: all 0.4s;
}
.catalog_container .card img:hover {
  transform: scale(1.03);
}
.catalog_container .card .item-title,
.catalog_container .card .item-price,
.catalog_container .card .item-sizes {
  margin-bottom: 0.6rem;
  text-align: center;
  color: #4F4B4B;
}
.catalog_container .card .item-price {
  color: black;
  font-weight: 700;
}
.catalog_container .card .item-sizes {
  color: #999999;
}

.description__container {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description__container img {
  max-width: 35%;
  height: auto;
  border-radius: 2rem;
  margin-right: 15rem;
}
.description__container .description-title,
.description__container .description-price {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.description__container .description-price {
  font-weight: 700;
}
.description__container .description-text,
.description__container .description-modelInfo {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 2;
}
.description__container .description-stock-list {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}
.description__container .description-stock-list span {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}
.description__container .description-stock-list li {
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.reservation_form {
  max-width: 70%;
  margin: 0 auto;
  padding: 3rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2.5rem;
  box-shadow: 0.2rem 0.2rem 3rem rgba(79, 75, 75, 0.2);
}
.reservation_form-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.reservation_container input {
  display: block;
  width: 40%;
  outline: none;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 3rem;
  background-color: rgb(223, 225, 225);
  border: none;
}
.reservation_container input:hover {
  outline: none;
}

.reservation_form-btn {
  display: block;
  margin: 3rem auto 0 auto;
  border: none;
  border-radius: 2rem;
  padding: 1.3rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background-color: rgb(62, 55, 55);
  transition: box-shadow 0.5s;
}
.reservation_form-btn:hover {
  box-shadow: 0.2rem 0.2rem 2rem black;
}

.reservation_message {
  width: 70%;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 3rem;
  background-color: #fff;
}
.reservation_message p {
  font-size: 2rem;
  text-align: center;
  color: black;
  letter-spacing: 0.3rem;
}
.reservation_message p:first-child {
  margin-bottom: 2rem;
}/*# sourceMappingURL=style.css.map */