.category_female {
    .box_wrapper-pants {
        background: url("../../images/категорииЖенское/брюки.jpg") center/cover no-repeat;
    }

    .box_wrapper-tshirts {
        background: url("../../images/категорииЖенское/футболки.jpg") center/cover no-repeat;
    }

    .box_wrapper-sweatshirt {
        background: url("../../images/категорииЖенское/толстовки.jpg") center/cover no-repeat;
    }

    .box_wrapper-shoes {
        background: url("../../images/категорииЖенское/обувь.jpg") center/cover no-repeat;
    }
}