.category_female {
    .box_wrapper-pants {
        background: url("../../images/категории женское/брюки.jpg") center/cover no-repeat;
    }

    .box_wrapper-tshirts {
        background: url("../../images/категории женское/футболки.jpg") center/cover no-repeat;
    }

    .box_wrapper-sweatshirt {
        background: url("../../images/категории женское/толстовки.jpg") center/cover no-repeat;
    }

    .box_wrapper-shoes {
        background: url("../../images/категории женское/обувь.jpg") center/cover no-repeat;
    }
}