.category_male {
    .box_wrapper-pants {
        background: url("../../images/категорииМужское/брюки.jpg") center/cover no-repeat;
    }

    .box_wrapper-tshirts {
        background: url("../../images/категорииМужское/футболки.jpg") center/cover no-repeat;
    }

    .box_wrapper-sweatshirt {
        background: url("../../images/категорииМужское/толстовки.jpg") center/cover no-repeat;
    }

    .box_wrapper-shoes {
        background: url("../../images/категорииМужское/обувь.jpg") center/cover no-repeat;
    }
}