.category_male {
    .box_wrapper-pants {
        background: url("../../images/категории мужское/брюки.jpg") center/cover no-repeat;
    }

    .box_wrapper-tshirts {
        background: url("../../images/категории мужское/футболки.jpg") center/cover no-repeat;
    }

    .box_wrapper-sweatshirt {
        background: url("../../images/категории мужское/толстовки.jpg") center/cover no-repeat;
    }

    .box_wrapper-shoes {
        background: url("../../images/категории мужское/обувь.jpg") center/cover no-repeat;
    }
}