// контейнер для всех элементов
html {
    // 1rem = 10px
    // 10 / 16 * 100% = 62.5%
    font-size: 62.5%; //10px
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $color-text;
}

.container {
    max-width: 130rem;
    padding: 0 8.5rem;
    margin: 0 auto;
}

.background-black {
    background-color: rgba(0, 0, 0, .85);
}

.gray_line {
    border-bottom: 1px solid rgba(92, 92, 92, 0.85);
}

.hidden {
    display: none;
}

.heading-1 {
    max-width: 100rem;
    margin: 0 auto;
    font-size: 3.5rem;

    color: #fff;
    text-align: center;
    font-weight: 500;
    text-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 1);

    font-size: 3rem;
    line-height: 5rem;

    -webkit-animation: header-anim 1s ease-out;
    animation: header-anim 1s ease-out;
}

.heading-3 {
    margin-bottom: 3rem;
    color: #fff;
    font-size: 3.8rem;
    text-align: center;
}

//шапка без ссылки "на главную"
.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    align-items: center;
    justify-content: center;

    &-img {
        display: block;
        margin-right: 2rem;
    }

    &-text {
        display: block;
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: .2rem;
        color: $color-logo;
    }
}

//шапка с ссылкой "на главную"
.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__link {
        font-size: 1.8rem;
        color: $color-text;

        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;

        &:hover {
            text-shadow: .3rem .3rem 1rem $color-text-light;
        }
    }
}

// карточки с категориями одежды на страницах female и male
.selection__box_wrapper {
    display: -ms-grid;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
    justify-content: center;

    a {
        display: block;
        padding-top: calc(115% / 1); /////////////////////////////////////////////
        border-radius: 1rem;
        position: relative;

        -webkit-transition: all .5s;
        -o-transition: all .5s;

        transition: all .5s;

        &:hover {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);

            transform: scale(1.05);
        }
    }

    a p {
        color: white;
        font-size: 4.2rem;
        text-align: center;
        // потому что padding-top: calc(115% / 1);
        margin-top: -70%;
        text-shadow: .5rem .5rem 2rem black,
            -.5rem -.5rem 2rem black,
            0rem 0rem 1rem black;
    }
}

// ссылки перед этими карточками
.section_selectionCategory {
    padding: 5rem 8rem 8rem;

    .selectionCategory_links {
        text-align: center;
        margin-bottom: 3rem;

        a:first-child {
            color: $color-text-light;
            font-size: 2.5rem;

            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;

            &:hover {
                color: #d1cbcb;
            }
        }

        a:last-child {
            display: inline-block;
            margin-top: 1rem;
            margin-bottom: 3rem;
            color: #fff;
            font-size: 3rem;
        }
    }
}


// секция топ популярных товаров
.section_topItems {
    padding: 5rem;
    font-weight: 600;

    .heading-3 {
        margin-bottom: 4rem;
    }

    .card {
        padding: 2rem;
        background-color: #f1eeee;
        border-radius: 2rem;

        -webkit-transition: -webkit-transform .6s;
        transition: -webkit-transform .6s;
        -o-transition: transform .6s;
        transition: transform .6s;
        transition: transform .6s, -webkit-transform .6s;

        &:hover {
            -webkit-transform: scale(1.02);
            -ms-transform: scale(1.02);

            transform: scale(1.02);
        }

        a img:hover {
            -webkit-transform: none;
            -ms-transform: none;

            transform: none;
        }

    }
}


// footer
.footer {
    padding: 7rem 0 5rem 0;

    .footer_nav {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        color: $color-text-light;
        justify-content: space-between;
        align-items: flex-start;

        .footer_nav_item {
            span {
                display: block;
                margin-bottom: 1.5rem;
            }

            li {
                margin-bottom: 1rem;

                &:hover {
                    text-shadow: .5rem .5rem 1rem $color-text-light;
                }
            }

            margin-bottom: 3rem;
        }

        ul {
            color: $color-text;
            font-size: 1.6rem;
        }

        a {
            -webkit-transition: .3s;
            -o-transition: .3s;

            transition: .3s;
            color: $color-text;
        }
    }
}



// СТРАНИЦА КАТАЛОГА---------------------------------------------
.section_catalog {
    padding: 4rem 0;
    color: $color-text-white;

    .category_description {
        margin-bottom: 4rem;

        .heading-categoryType {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2rem;
        }

        ul {
            max-width: 70%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            font-size: 1.8rem;

            a {
                color: $color-text-light;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


// карточки товара
.catalog_container {
    display: -ms-grid;

    display: grid;
    grid-auto-flow: dense;

    -ms-grid-columns: minmax(10.5rem, 1fr) 3rem minmax(10.5rem, 1fr) 3rem minmax(10.5rem, 1fr) 3rem minmax(10.5rem, 1fr);

    grid-template-columns: repeat(4, minmax(10.5rem, 1fr));
    row-gap: 4.5rem;
    column-gap: 3rem;
}

.catalog_container .card {
    font-size: 1.6rem;
    margin-bottom: 3.5rem;

    img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;

        -webkit-transition: all .4s;
        -o-transition: all .4s;

        transition: all .4s;

        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);

            transform: scale(1.03);
        }
    }

    .item-title,
    .item-price,
    .item-sizes {
        margin-bottom: .6rem;
        text-align: center;
        color: $color-text-white;
    }

    .item-price {
        font-weight: 900;
        color: $color-text-white;
    }

    .item-sizes {
        color: $color-text-white;
        margin-bottom: 1rem;
    }

    .item-btn {
        display: block;
        margin: 0 auto;
        padding: 1rem;
        width: 80%;
        background-color: #fff;
        color: #000;
        border-radius: 2rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: .55s;
        font-size: 1.4rem;
        font-weight: 600;

        &:hover {
            -webkit-transform: translateY(.5rem);
            -ms-transform: translateY(.5rem);

            transform: translateY(.5rem);
            box-shadow: inset -.5rem -.5rem 1.8rem #363535;
        }
    }
}

.topItem_card {

    .item-title,
    .item-price,
    .item-sizes {
        color: $color-text !important;
    }
}

// СТРАНИЦА ОПИСАНИЯ ТОВАРА
.description__container {
    padding: 7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-white;

    img {
        max-width: 35%;
        height: auto;
        border-radius: 2rem;
        margin-right: 15rem;
    }

    .description-title,
    .description-price {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .description-price {
        font-weight: 700;
    }

    .description-text,
    .description-modelInfo {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        line-height: 2;
    }

    .description-stock-list {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;

        span {
            display: block;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        li {
            padding-left: 2rem;
            margin-bottom: .5rem;
        }
    }
}

// кнопка "забронировать товар" на странице каталога
.reservation-btn {
    display: block;
    min-width: 40%;
    max-width: 45%;
    padding: 1.5rem 2rem;
    border-radius: 2.5rem;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 600;
    background-color: #fff;
    transition: transform .6s;

    &:hover {
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);

        transform: scale(1.03);
    }
}

// форма бронирования товара
.reservation_form {
    max-width: 70%;
    margin: 0 auto;
    padding: 3rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
    box-shadow: .5rem .5rem 3rem rgba(32, 6, 38, .5);

    &-title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.reservation_container {
    input {
        display: block;
        width: 60%;
        outline: none;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 1.5rem;
        border-radius: 3rem;
        background-color: rgb(223, 225, 225);
        border: none;
        font-size: 1.4rem;

        &:hover {
            outline: none;
        }
    }
}

.reservation_form-btn {
    display: block;
    margin: 3rem auto 0 auto;
    border: none;
    border-radius: 2rem;
    padding: 1.3rem 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .3rem;
    transition: box-shadow .5s;
    background-color: #000;

    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    &:hover {
        -webkit-transform: translateY(.2rem);
        -ms-transform: translateY(.2rem);
        transform: translateY(.2rem);
    }
}

.reservation_message {
    width: 70%;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 3rem;
    background-color: #fff;
    box-shadow: .2rem .2rem 3rem rgb(147, 144, 144);

    p {
        font-size: 2rem;
        text-align: center;
        color: black;
        letter-spacing: .3rem;

        &:first-child {
            margin-bottom: 2rem;
        }
    }
}