// главная
@media(max-width: 1200px) {
    html {
        font-size: 52%;
    }
}

@media(max-width: 950px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 1050px) {

    // адаптация cекции с выбором категории товаров
    .selection__box_wrapper {
        grid-template-columns: repeat(2, minmax(20rem, 30%));
    }

}

@media (max-width: 850px) {

    //секция с отзывами клиентов
    .clients__box {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(10rem, 28rem));
        gap: 5rem;
    }

    // топ популярных товаров
    .section_topItems .catalog_container {
        grid-template-columns: repeat(2, 45%);
        place-content: center;
    }

    .reservation-btn {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {

    // адаптация каталога
    .catalog_container {
        grid-template-columns: repeat(3, minmax(10.5rem, 1fr));
    }

    // описание товара
    .description__container {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        img {
            max-width: 45%;
            margin-bottom: 2.5rem;
            margin-right: 0;
        }

        .reservation-btn {
            margin: 0 auto;
        }
    }
}

@media (max-width: 740px) {
    .footer_nav {
        flex-direction: column;
        align-content: center;
    }

    .logo {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 700px) {}

@media(max-width: 550px) {

    // адаптация шапки с лого
    .header__link {
        display: none;
    }

    .logo__wrapper {
        justify-content: center;
    }

    // топ популярных товаров
    .section_topItems .catalog_container {
        grid-template-columns: 60%;
    }

    // адаптация каталога
    .catalog_container {
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }

    // форма бронирования
    .reservation_form input {
        width: 95%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 35%;
    }

    // адаптация cекции с выбором категории товаров
    .selection__box_wrapper {
        grid-template-columns: 50%;
    }

    .selection__box_wrapper a p {
        font-size: 3rem;
    }
}

@media(max-width: 350px) {

    //секция с отзывами клиентов
    .clients__box {
        display: grid;
        justify-content: center;
        grid-template-columns: 60%;
        row-gap: 5rem;
    }

    // адаптация каталога
    .catalog_container {
        grid-template-columns: 55%;
        justify-content: center;
    }

    .selection__box_wrapper a p {
        font-size: 2.5rem;
    }
}

@media (max-width: 339px) {}

@media(max-width: 300px) {
    html {
        font-size: 20%;
    }
}