$color-logo: #454545;
$color-text: #4F4B4B;
$color-text-light: #999999;
$line: #cfcfcf;
$color-red: rgb(221, 10, 10);

// $color-logo: #454545;
$color-text-white: rgba(255, 255, 255, .7);
// $color-text-light: #b4b0b0;
// $line: #cfcfcf;
// $color-red: rgb(221, 10, 10);